HAL_GIT_SHA=<full deployed commit>
HAL_NETPLAY_POLICY=/absolute/path/to/policy.halpolicy
HAL_NETPLAY_USER_JSON_A=/absolute/path/to/slippi_user_a.json
HAL_ISO_PATH=/absolute/path/to/ssbm.ciso
HAL_NETPLAY_EMULATOR_PATH=/absolute/path/to/Slippi_Online-x86_64.AppImage

HAL_NETPLAY_ALLOWED_ORIGINS=https://<sites-hostname>
HAL_NETPLAY_ALLOWED_HOSTS=<api-hostname>
HAL_NETPLAY_PUBLIC_API_URL=https://<api-hostname>
CLOUDFLARE_TUNNEL_TOKEN=

AWS_ENDPOINT_URL=https://<account-id>.r2.cloudflarestorage.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=hal
